<div class="holding_index" id="holding_<%= manifestation.id -%>" style="display: none">
  <% if current_user.try(:has_role?, 'Librarian') %>
    <%= render 'manifestations/show_holding', manifestation: manifestation, items: manifestation.items -%>
  <% else %>
    <%= render 'manifestations/show_holding', manifestation: manifestation, items: manifestation.items.for_checkout.on_shelf -%>
  <% end %>
</div>
